body {
  background-color: #f9f9f9;
}

nav {
  margin-bottom: 50px;
  border: 1px solid #d8d8d8;
}

.row {
  margin-left: 29%;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 1450px;;
}

a, .card-header {
  color: black;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: black;
}


.header {
  display: inline;
  height: 25px;
}

.top-logo {
  height: 30px;
  padding-right: 15px;
}

.vl {
  border-left: 1px solid gray;
  height: 60px;
}

.nav-icons > img {
  padding-right: 20px;
  height: 22px;
}

.searchBar {
  width: 150px;
}

#userPic {
  height: 30px;
  border-radius: 15px;
  border: 1px solid pink;
}

.card {
  padding: 0;
}

.card-icon {
  width: 20px;
}

.card-icons-bar {
  margin-bottom: 10px;
}

.card-body {
  padding: 0;
}

.card-content {
  padding: 15px;
}

.divider {
  border-bottom: 1px solid #e5e5e5;
}

.card-text {
  margin-bottom: 3px;
  font-size: 14px;
}

.card-header {
  font-size: 14px;
  background-color: white;
}

#timestamp {
  color: #b2b2b2;
  font-size: 10px;
  font-weight: normal;
}

#showComments {
  color: #b2b2b2;
  font-weight: normal;
}

#commentInput {
  border: none;
  width: 540px;
}

.comment-section > form, .comment-section > img {
  display: inline-block;
}

.sidebar {
  font-size: 14px;
}

#story-icon {
  width: 60px;
  border-radius: 60px;
  margin-right: 10px;
}

.follower-icon {
  width: 50px;
  border-radius: 60px;
  float: left;
  margin-right: 10px;
}

.story-info, #story-icon {
  display: inline-block;
  float: left;
}

.story-info {
  margin-top: 2px;
}

.sidebar-divider {
  margin-top: 75px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  width: 90%;
}

.follow-stories {
  overflow: auto;
  width: 90%;
  height: 300px;
  border-bottom: 1px solid #e5e5e5;
}

.stories-label {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.story-name {
  margin-bottom: 20px;
}

.sidebar > p {
  color: #b2b2b2;
  margin-left: 10px;
}

.sidebar > ul {
  color: #b2b2b2;
  margin-top: 10px;
  width: 90%;
  margin-left: -30px;
}

.sidebar > ul > li {
  display: inline;
  list-style-type: circle;
}

.bullet {
  font-size: 5px;
  vertical-align: middle;
}

.card-icon {
  margin-right: 10px;
}

#bookmark {
  margin-right: 0;
  float:right;
}
